{# Custom form theme for forms. Overwrites blocks from form_div_layout.html.twig theme. #}

{% use 'form_div_layout.html.twig' %}

{# add class attribute to errors lists #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}