{# Page for DNA similarity query submission. #}

{% extends 'layout.html.twig' %}

{% form_theme form 'form/form.html.twig' %}

{% block title %}
    <title>DNA Similarity</title>
{% endblock %}

{% block main %}
    <h1>DNA Similarity</h1>
    {{ form_start(form) }}
    <h2>Query</h2>
    <div class="block">
        <div class="row">
            <div class="firstColumn">
                {{ form_widget(form.input[0]) }}
                {{ form_label(form.input[0]) }}
            </div>
            <div class="secondColumn">
                {{ form_label(form.dnaString) }}
                {{ form_widget(form.dnaString) }}
            </div>
        </div>
        {{ form_errors(form.dnaString) }}
        <div class="row">
            <div class="firstColumn">
                {{ form_widget(form.input[1]) }}
                {{ form_label(form.input[1]) }}
            </div>
            <div class="secondColumn">
                {{ form_label(form.dnaFile) }}
                {{ form_widget(form.dnaFile) }}
            </div>
        </div>
        {{ form_errors(form.dnaFile) }}
    </div>
    <div class="block">
        <div class="row">
            <div class="firstColumn">
                {{ form_widget(form.queryType[0]) }}
                {{ form_label(form.queryType[0]) }}
            </div>
            <div class="secondColumn">
                {{ form_label(form.k) }}
                {{ form_widget(form.k) }}
            </div>
        </div>
        {{ form_errors(form.k) }}
        <div class="row">
            <div class="firstColumn">
                {{ form_widget(form.queryType[1]) }}
                {{ form_label(form.queryType[1]) }}
            </div>
            <div class="secondColumn">
                {{ form_label(form.minScore) }}
                {{ form_widget(form.minScore) }}
            </div>
        </div>
        {{ form_errors(form.minScore) }}
    </div>
    <div class="block">
        <div class="row">
            {{ form_widget(form.alignment[0]) }}
            {{ form_label(form.alignment[0]) }}
        </div>
        <div class="row">
            {{ form_widget(form.alignment[1]) }}
            {{ form_label(form.alignment[1]) }}
        </div>
    </div>
    <button type="submit">Search</button>
    {{ form_end(form) }}
{% endblock %}