{# Page with DNA similarity query results. #}

{% extends 'layout.html.twig' %}

{% block title %}
    <title>DNA Similarity</title>
{% endblock %}

{% block main %}
    <h1>DNA Similarity</h1>
    <article>
        <h2>Results</h2>
        <ol>
            {% for result in results %}
                <li>
                    <p>Score: {{ result['score'] }}</p>
                    <div class="dna">
                        <div>
                            <p class="label">Input DNA:</p>
                            <span class="monospace">
                                {%- for i in 0..result['solution']['upperDNA']|length - 1 -%}
                                    {%- if result['solution']['upperDNA']|slice(i, 1) is same as(result['solution']['leftDNA']|slice(i, 1)) -%}
                                        <span class="green">{{ result['solution']['upperDNA']|slice(i, 1) }}</span>
                                    {%- else -%}
                                        <span class="blue">{{ result['solution']['upperDNA']|slice(i, 1) }}</span>
                                    {%- endif -%}
                                {%- endfor -%}
                            </span>
                        </div>
                        <div>
                            <p class="label">Database DNA:</p>
                            <span class="monospace">
                                {%- for i in 0..result['solution']['upperDNA']|length - 1 -%}
                                    {%- if result['solution']['upperDNA']|slice(i, 1) is same as(result['solution']['leftDNA']|slice(i, 1)) -%}
                                        <span class="green">{{ result['solution']['leftDNA']|slice(i, 1) }}</span>
                                    {%- else -%}
                                        <span class="blue">{{ result['solution']['leftDNA']|slice(i, 1) }}</span>
                                    {%- endif -%}
                                {%- endfor -%}
                            </span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
        <a href="{{ path('dna_similarity') }}">New query</a>
    </article>
{% endblock %}