/* CSS used by all templates. Divided by template regions. */

/* region General */
* {
    box-sizing: border-box;
    font-size: 1em;
}
body {
    font-family: "Arial", sans-serif;
    background-color: #efeff2;
    font-size: 0.7rem;
    margin: 0;
}
a {
    color: black;
}
a:hover {
    color: blue;
}
h1 {
    font-size: 2em;
    margin: 0;
    padding: 0 0 2%;
}
h2 {
    margin: 0;
    font-size: 1.5em;
}
/* endregion */

/* region Header */
header {
    background-color: #5e86dd;
    width: 100%;
    color: white;
    padding: 2% 5%;
}
header > h3 {
    margin: 0;
    font-size: 2em;
}
/* endregion */

/* region Menu */
nav {
    padding: 1% 5% 0;
}
/* endregion */

/* region Main */
main {
    width: 100%;
    padding: 2% 5% 3%;
}
form, article {
    padding: 2% 2% 5%;
    border: thin solid #c7c7c7;
    background-color: white;
    box-shadow: 0.2vw 0.2vw 0.1vw #c7c7c7;
    width: 100%;
}

/* region Form */
.block {
    padding-top: 3%;
}
.row {
    padding-top: 1%;
}
.firstColumn, .secondColumn, .secondColumn > label {
    display: inline-block;
}
.firstColumn, .secondColumn > label {
    width: 20%;
}
.secondColumn, #dna_query_dnaString {
    width: 79%;
}
input[type="radio"] {
    margin: 0;
    height: 0.7em;
}
button {
    margin-top: 4%;
}
.errors {
    color: red;
    margin: 0;
    padding-left: 23%;
    font-size: 0.8em;
}
/* endregion */

/* region Results */
ol {
    margin: 4% 0 0;
    padding-left: 1.2em;
}
ol > li {
    padding-bottom: 4%;
}
p {
    margin: 0;
}
.dna {
    padding-top: 1%;
    overflow: auto;
    white-space: nowrap;
}
.label {
    display: inline-block;
    width: 7.5em;
}
.monospace {
    font-family: "Lucida Console", monospace;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
/* endregion */
/* endregion */

@media only screen and (min-width: 600px) and (min-device-width: 600px) {

/* region General */
body {
    font-size: 1rem;
}
/* endregion */

}