{# Layout common for all templates. #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Martin Janáček">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('general.css') }}">
</head>
<body>
    <header>
        <h3>DNA Similarity Application</h3>
    </header>
    <nav>
        <a href="{{ path('dna_similarity') }}">DNA Similarity</a>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>